header {
  background-color: #0020f4;
  height: 387.56px;
  max-width: 1920px;
  width: 100%;
}

/* navigation */

.header {
  margin: auto;
  width: 1475px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.logo {
  width: 115px;
  height: 65px;
}

.navbar ul,
.navbar li,
.navbar a {
  display: flex;
  align-items: center;
}

.navbar-li {
  margin-left: 42px;
  position: relative;
}

.navbar-li a {
  color: white;
}

.contact {
  background-color: #ffffff;
  width: 160px;
  height: 50px;
  border-radius: 28px;
  text-align: center;
}
.contact a {
  color: black;
  margin: auto;
  font-family: Helvetica;
  font-weight: bold;
}

/* navigation end */

/* hover */

.navbar li::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.6s;
  background-color: white;
}
.navbar-li:hover::after {
  width: 70%;
}

/* hover end */

.image {
  animation-name: luka;
  display: flex;
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.animation {
  width: 1000px;
  height: 1000px;
  margin: 50px auto;
  background-color: green;
  border: 30px dotted red;
  animation-name: anime;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: flex;
  border-radius: 30%;
  justify-content: center;
  align-items: center;
  outline: 30px solid rgb(32, 84, 218);
}
@keyframes luka {
  0% {
  }
}
@keyframes anime {
  0% {
    background-color: green;
  }
  100% {
    background-color: yellow;
  }
}
