header {
  background-color: #0020f4;
  height: 387.56px;
  max-width: 1920px;
  width: 100%;
}

/* navigation */

.header {
  margin: auto;
  width: 1475px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.logo {
  width: 115px;
  height: 65px;
}

.navbar ul,
.navbar li,
.navbar a {
  display: flex;
  align-items: center;
}

.navbar-li {
  margin-left: 42px;
  position: relative;
}

.navbar-li a {
  color: white;
}

.contact {
  background-color: #ffffff;
  width: 160px;
  height: 50px;
  border-radius: 28px;
  text-align: center;
}
.contact a {
  color: black;
  margin: auto;
  font-family: Helvetica;
  font-weight: bold;
}

/* navigation end */

/* hover */

.navbar li::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.6s;
  background-color: white;
}
.navbar-li:hover::after {
  width: 70%;
}

/* hover end */

section {
  margin-top: -170px;
  margin-left: 362px;
}
h1 {
  font-size: 28px;
  padding-top: 30px;
  font-family: Helvetica;
  font-weight: bold;
}
.main-img {
  width: 1195px;
  height: 600px;
}
.conteiner {
  display: inline-block;
  padding-top: 60px;
}
.box {
  width: 219px;
  height: 219px;
  margin-right: 25px;
  display: inline-block;
}
.text {
  margin-top: 60px;
  width: 1195px;
}
.text-p {
  font-family: Helvetica;
  font-size: 16px;
  margin: 18px auto;
  width: 951px;
}
.see-more {
  background-color: #0a22f4;
  width: 341px;
  height: 55px;
  border-radius: 28px;
  margin: auto;
}
.more {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding-top: 18px;
  width: 207px;
  font-weight: bold;
  margin: 18px auto;
  font-family: Helvetica;
}
.footer {
  background-color: #0020f4;
  margin-top: 180px;
  height: 1080px;
  max-width: 1920px;
  width: 100%;
}
.footer-text {
  padding-top: 275px;
  padding-left: 240px;
}
h2 {
  color: #ffffff;
  font-size: 38px;
  font-weight: bold;
}
.footer-p {
  color: #ffffff;
  width: 463px;
  font-size: 16px;
  font-family: Helvetica;
  padding-top: 30px;
}
.map iframe {
  width: 463px;
  height: 197px;
  margin-top: 58px;
  margin-bottom: 70px;
  border-radius: 15px 15px;
}
.icons {
  display: flex;
}
.icon {
  background-color: #ffffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.phone {
  width: 26px;
  height: 26px;
  margin: 22px 22px;
}
.links {
  margin: auto 0px;
}
.link {
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
  padding-left: 20px;
  padding-right: 98px;
}
